@font-face {
  font-family: OpenSans;
  src: url(fonts\\OpenSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: OpenSans;
  src: url(fonts\\OpenSans-ExtraBold.ttf);
  font-weight: 900;
}

@font-face {
  font-family: OpenSans;
  src: url(fonts\\OpenSans-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: OpenSans;
  src: url(fonts\\OpenSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: OpenSans;
  src: url(fonts\\OpenSans-SemiBold.ttf);
  font-weight: 500;
}

.app {
  font-family: OpenSans;
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #f2f2f2;
}

button {
  background-image: radial-gradient(circle at 50% -46%, #737373, #403d39);
  color: #fff;
  border-width: 0;
  cursor: pointer;
}

.profile-picture {
  border-radius: 50%;
  box-shadow: 0 0 20px #333;
  background-position: 50%;
  background-size: cover;
  background-color: #ffffff;
}

.content-box {
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  margin: 0.5rem 0rem;
  background-color: #ffffff;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
}
.fill img {
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
