@font-face {
  font-family: OpenSans;
  src: url(fonts\\OpenSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: OpenSans;
  src: url(fonts\\OpenSans-ExtraBold.ttf);
  font-weight: 900;
}

@font-face {
  font-family: OpenSans;
  src: url(fonts\\OpenSans-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: OpenSans;
  src: url(fonts\\OpenSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: OpenSans;
  src: url(fonts\\OpenSans-SemiBold.ttf);
  font-weight: 500;
}

.app {
  font-family: OpenSans;
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #f2f2f2;
}

button {
  background-image: radial-gradient(circle at 50% -46%, #737373, #403d39);
  color: #fff;
  border-width: 0;
}

.profile-picture {
  border-radius: 50%;
  box-shadow: 0 0 20px #333;
  background-position: 50%;
  background-size: cover;
  background-color: #ffffff;
}
